<div class="all_contents">
  <div class="out_contents">
    <div class="back_screen">
      <div class="out_box signin_show">
        <div class="in_box">
          <h2>ログイン</h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
          <%= f.label :email, "Eメール", class: "label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
          <%= f.label :password,"パスワード", class: "label" %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="remember_me">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "ログインしたままにする" %>
            </div>
          <% end %>

          <div class="actions">
          <%= f.submit "ログイン" %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="out_under">
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>